<%- include('include/head'); %>
<body id="index">
    <div id="header">
        <h1>Image Processing App</h1>
        <h2>Application for performing basic operations on images</h2>
        <h5>Tomasz Jankowski, Marcin Nawrocki</h5>
        <a href="home" class="btn btn-outline-light btn-lg">Begin</a>
        <!-- <button type="button" class="btn btn-outline-light btn-lg">Rozpocznij</button> -->
    </div>
<%- include('include/foot'); %>